/* ==========================================================================
   Import helpers
   ========================================================================== */
/* ======================================
   Mixins
   ====================================== */
/* ===========================
   Flexbox mixins
   =========================== */
/* ===========================
   Responsive mixins
   =========================== */
/* ======================================
   Responsive
   ====================================== */
/* ===========================
   Transition mixins
   =========================== */
/* ===========================
   Set a rem font size with
   pixel fallback mixins
   =========================== */
/* ===========================
   Cross browser opacity
   =========================== */
/* ===========================
   Border Radius Mixin
   =========================== */
/* ===========================
   Box Shadow Mixin
   =========================== */
/* ==========================================================================
   Import base classes
   ========================================================================== */
/*! HTML5 Boilerplate v6.0.1 | MIT License | https://html5boilerplate.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
/* line 13, ../sass/_base.scss */
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */
/* line 29, ../sass/_base.scss */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

/* line 34, ../sass/_base.scss */
::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
/* line 43, ../sass/_base.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
/* line 58, ../sass/_base.scss */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
/* line 71, ../sass/_base.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
/* line 81, ../sass/_base.scss */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
/* line 89, ../sass/_base.scss */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Custom Base Styles
   ========================================================================== */
/* line 99, ../sass/_base.scss */
html,
body {
  font-family: "Times New Roman", Georgia, serif;
  -webkit-transition: margin-top 0.3s linear;
  -moz-transition: margin-top 0.3s linear;
  -ms-transition: margin-top 0.3s linear;
  -o-transition: margin-top 0.3s linear;
  transition: margin-top 0.3s linear; }

/* line 105, ../sass/_base.scss */
.container {
  max-width: 1200px;
  margin: 0 auto; }

/* line 110, ../sass/_base.scss */
img {
  max-width: 100%;
  height: auto; }

/* line 115, ../sass/_base.scss */
* {
  box-sizing: border-box; }

/* line 119, ../sass/_base.scss */
a {
  color: #70A330;
  text-decoration: none;
  -webkit-transition: color 0.3s ease-in-out;
  -moz-transition: color 0.3s ease-in-out;
  -ms-transition: color 0.3s ease-in-out;
  -o-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out; }
  /* line 124, ../sass/_base.scss */
  a:hover, a:focus {
    color: #B6CF34;
    text-decoration: underline; }

/* line 131, ../sass/_base.scss */
p {
  color: #6d6d6d; }

/* ==========================================================================
   Import partials
   ========================================================================== */
/* ======================================
   Main Navigation Section
   ====================================== */
/* line 5, ../sass/partials/_navigation.scss */
.main-navigation {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #ffffff;
  padding: 0 20px; }
  @media only screen and (min-width: 1025px) {
    /* line 5, ../sass/partials/_navigation.scss */
    .main-navigation {
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -moz-box-direction: normal;
      -moz-box-orient: horizontal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; } }
  /* line 15, ../sass/partials/_navigation.scss */
  .main-navigation a {
    font-size: 16px;
    font-size: 1rem;
    line-height: 16px;
    color: #000000;
    text-decoration: none;
    font-weight: normal;
    letter-spacing: 0.15em;
    padding: 0.8em 1em;
    display: block;
    -webkit-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    -moz-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    -ms-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    -o-transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out; }
    /* line 26, ../sass/partials/_navigation.scss */
    .main-navigation a:hover, .main-navigation a:focus {
      background-color: #B6CF34;
      color: #ffffff; }

/* line 34, ../sass/partials/_navigation.scss */
.logo {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }
  @media only screen and (min-width: 1025px) {
    /* line 34, ../sass/partials/_navigation.scss */
    .logo {
      margin-right: auto; } }
  /* line 43, ../sass/partials/_navigation.scss */
  .logo h1 {
    margin: 0; }
    /* line 45, ../sass/partials/_navigation.scss */
    .logo h1 a {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 18px;
      color: #000000; }
      /* line 50, ../sass/partials/_navigation.scss */
      .logo h1 a:hover, .logo h1 a:focus {
        background-color: transparent;
        color: #B6CF34; }

/* line 59, ../sass/partials/_navigation.scss */
.menu {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.3s ease-in, opacity 0.3s ease-in, overflow 0.3s ease-in;
  -moz-transition: max-height 0.3s ease-in, opacity 0.3s ease-in, overflow 0.3s ease-in;
  -ms-transition: max-height 0.3s ease-in, opacity 0.3s ease-in, overflow 0.3s ease-in;
  -o-transition: max-height 0.3s ease-in, opacity 0.3s ease-in, overflow 0.3s ease-in;
  transition: max-height 0.3s ease-in, opacity 0.3s ease-in, overflow 0.3s ease-in; }
  /* line 68, ../sass/partials/_navigation.scss */
  .menu.open {
    visibility: visible;
    opacity: 1;
    filter: alpha(opacity=100);
    max-height: 100%;
    overflow: auto; }
  @media only screen and (min-width: 1025px) {
    /* line 59, ../sass/partials/_navigation.scss */
    .menu {
      visibility: visible;
      opacity: 1;
      filter: alpha(opacity=100);
      max-height: 100%;
      overflow: auto; } }
  /* line 82, ../sass/partials/_navigation.scss */
  .menu nav {
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    -moz-box-direction: normal;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    margin-bottom: 0.3em; }
    @media only screen and (min-width: 769px) {
      /* line 82, ../sass/partials/_navigation.scss */
      .menu nav {
        -webkit-box-direction: normal;
        -webkit-box-orient: horizontal;
        -moz-box-direction: normal;
        -moz-box-orient: horizontal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin-top: 0.1em; } }
    @media only screen and (min-width: 1025px) {
      /* line 82, ../sass/partials/_navigation.scss */
      .menu nav {
        margin-top: 0;
        margin-bottom: 0; } }
  /* line 101, ../sass/partials/_navigation.scss */
  .menu a {
    text-transform: capitalize;
    display: block; }
    @media only screen and (min-width: 769px) {
      /* line 101, ../sass/partials/_navigation.scss */
      .menu a {
        margin: 0 1em; } }
    @media only screen and (min-width: 1025px) {
      /* line 101, ../sass/partials/_navigation.scss */
      .menu a {
        margin: 0; } }

/* line 119, ../sass/partials/_navigation.scss */
.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 11;
  -webkit-box-shadow: 0 0 8px rgba(109, 109, 109, 0.5);
  -moz-box-shadow: 0 0 8px rgba(109, 109, 109, 0.5);
  box-shadow: 0 0 8px rgba(109, 109, 109, 0.5); }

/* line 128, ../sass/partials/_navigation.scss */
#burger-menu {
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center;
  cursor: pointer;
  display: block;
  margin-left: 3em; }
  @media only screen and (min-width: 1025px) {
    /* line 128, ../sass/partials/_navigation.scss */
    #burger-menu {
      display: none; } }
  /* line 138, ../sass/partials/_navigation.scss */
  #burger-menu span.bar {
    display: block;
    width: 1.6em;
    height: 2px;
    background: #6d6d6d;
    margin: 0.4em 1em;
    -webkit-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -moz-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -ms-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    -o-transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; }
  /* line 148, ../sass/partials/_navigation.scss */
  #burger-menu.open span.bar {
    background: #C70038; }
    /* line 150, ../sass/partials/_navigation.scss */
    #burger-menu.open span.bar:nth-child(1) {
      transform: rotate(-45deg) translate(-12px, 0px); }
    /* line 153, ../sass/partials/_navigation.scss */
    #burger-menu.open span.bar:nth-child(2) {
      opacity: 0; }
    /* line 156, ../sass/partials/_navigation.scss */
    #burger-menu.open span.bar:nth-child(3) {
      transform: rotate(45deg) translate(-12px, 0px); }

/* ======================================
   Hero Image Section
   ====================================== */
/* line 4, ../sass/partials/_hero-img.scss */
.hero-img {
  height: auto;
  max-height: 80vh;
  overflow: hidden; }
  /* line 9, ../sass/partials/_hero-img.scss */
  .hero-img .slide {
    position: relative; }
  /* line 13, ../sass/partials/_hero-img.scss */
  .hero-img img {
    width: 100%;
    height: auto; }
  /* line 18, ../sass/partials/_hero-img.scss */
  .hero-img .caption {
    position: absolute;
    top: 5%;
    left: 2%;
    background: rgba(182, 207, 52, 0.6);
    padding: 0.7em;
    color: #ffffff; }
    @media only screen and (min-width: 769px) {
      /* line 18, ../sass/partials/_hero-img.scss */
      .hero-img .caption {
        left: 4%;
        padding: 1.5em; } }
    /* line 31, ../sass/partials/_hero-img.scss */
    .hero-img .caption h3 {
      font-size: 24px;
      font-size: 1.5rem;
      line-height: 24px;
      letter-spacing: 3px;
      font-weight: normal;
      word-spacing: 3px;
      margin: 0; }
      @media only screen and (min-width: 769px) {
        /* line 31, ../sass/partials/_hero-img.scss */
        .hero-img .caption h3 {
          font-size: 35px;
          font-size: 2.1875rem;
          line-height: 35px; } }
  /* line 48, ../sass/partials/_hero-img.scss */
  .hero-img.flexslider {
    border: none;
    border-radius: 0;
    margin-bottom: 0; }

/* line 58, ../sass/partials/_hero-img.scss */
.flex-direction-nav a {
  text-shadow: none; }
  /* line 60, ../sass/partials/_hero-img.scss */
  .flex-direction-nav a::before {
    line-height: 40px;
    color: rgba(199, 0, 56, 0.8);
    text-shadow: none; }

/* line 68, ../sass/partials/_hero-img.scss */
.flex-control-nav {
  bottom: 40px; }

/* line 73, ../sass/partials/_hero-img.scss */
.flex-control-paging li a {
  width: 15px;
  height: 15px;
  box-shadow: none;
  background: #70A330;
  border: 3px solid #ffffff; }
  /* line 80, ../sass/partials/_hero-img.scss */
  .flex-control-paging li a.flex-active {
    background: #C70038; }

/* ======================================
   About Section
   ====================================== */
/* line 5, ../sass/partials/_about.scss */
.row {
  padding: 3em 0 0;
  border-bottom: 1px solid #e0e0e0;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0 2em; }
  @media only screen and (min-width: 769px) {
    /* line 5, ../sass/partials/_about.scss */
    .row {
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -moz-box-direction: normal;
      -moz-box-orient: horizontal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row;
      padding: 5em 0 3em; } }
  @media only screen and (min-width: 1025px) {
    /* line 5, ../sass/partials/_about.scss */
    .row {
      margin: 0 auto;
      padding-left: 2em;
      padding-right: 2em; } }

/* line 28, ../sass/partials/_about.scss */
section:last-child > .row {
  border: none; }

/* line 35, ../sass/partials/_about.scss */
.image-block {
  overflow: hidden;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }
  @media only screen and (min-width: 769px) {
    /* line 35, ../sass/partials/_about.scss */
    .image-block {
      -webkit-box: 1;
      -moz-box: 1;
      -webkit-flex: 1 1 0;
      -ms-flexbox: 1 1 0;
      flex: 1 1 0;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto; } }
  /* line 46, ../sass/partials/_about.scss */
  .image-block img {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    opacity: 0.75;
    filter: alpha(opacity=75);
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -ms-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out; }
    /* line 51, ../sass/partials/_about.scss */
    .image-block img:hover, .image-block img:focus {
      opacity: 1;
      filter: alpha(opacity=100); }
  @media only screen and (min-width: 769px) {
    /* line 57, ../sass/partials/_about.scss */
    .image-block.right {
      -webkit-box-ordinal-group: 2;
      -moz-box-ordinal-group: 2;
      -webkit-order: 1;
      -ms-flex-order: 1;
      order: 1; } }

/* line 67, ../sass/partials/_about.scss */
.content {
  padding: 2em 0em;
  -webkit-align-self: center;
  -ms-flex-item-align: center;
  align-self: center; }
  @media only screen and (min-width: 769px) {
    /* line 67, ../sass/partials/_about.scss */
    .content {
      -webkit-box: 1;
      -moz-box: 1;
      -webkit-flex: 1 1 0;
      -ms-flexbox: 1 1 0;
      flex: 1 1 0;
      -webkit-align-self: auto;
      -ms-flex-item-align: auto;
      align-self: auto;
      padding-top: 1em; } }
  @media only screen and (min-width: 769px) {
    /* line 78, ../sass/partials/_about.scss */
    .content.left {
      padding-left: 0;
      padding-right: 3em; } }
  @media only screen and (min-width: 769px) {
    /* line 86, ../sass/partials/_about.scss */
    .content.right {
      padding-left: 3em;
      padding-right: 0; } }
  /* line 94, ../sass/partials/_about.scss */
  .content.info-block {
    padding: 2em; }
  /* line 98, ../sass/partials/_about.scss */
  .content .sec-title {
    font-size: 30px;
    font-size: 1.875rem;
    line-height: 30px;
    text-transform: capitalize;
    font-weight: normal;
    letter-spacing: 3px;
    word-spacing: 2px;
    text-align: center;
    margin: 0 0 1em;
    color: #B6CF34; }
    @media only screen and (min-width: 769px) {
      /* line 98, ../sass/partials/_about.scss */
      .content .sec-title {
        font-size: 35px;
        font-size: 2.1875rem;
        line-height: 35px; } }
    @media only screen and (min-width: 1025px) {
      /* line 98, ../sass/partials/_about.scss */
      .content .sec-title {
        margin: 1em 0 2em; } }
  /* line 119, ../sass/partials/_about.scss */
  .content .sec-subtitle {
    font-size: 16px;
    font-size: 1rem;
    line-height: 16px;
    font-weight: normal;
    letter-spacing: 3px;
    word-spacing: 2px;
    text-align: center;
    margin: 0; }
    @media only screen and (min-width: 769px) {
      /* line 119, ../sass/partials/_about.scss */
      .content .sec-subtitle {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 18px; } }
    @media only screen and (min-width: 1025px) {
      /* line 119, ../sass/partials/_about.scss */
      .content .sec-subtitle {
        margin: 1em 0 1.5em; } }
  /* line 138, ../sass/partials/_about.scss */
  .content p {
    font-size: 16px;
    font-size: 1rem;
    line-height: 24px; }
    @media only screen and (min-width: 769px) {
      /* line 138, ../sass/partials/_about.scss */
      .content p {
        font-size: 18px;
        font-size: 1.125rem;
        line-height: 26px; } }

/* ======================================
Our Menu Section
====================================== */
/* line 5, ../sass/partials/_our-menu.scss */
.menu-list {
  padding: 0; }
  /* line 9, ../sass/partials/_our-menu.scss */
  .menu-list li {
    list-style: none;
    margin-bottom: 3em; }
    /* line 13, ../sass/partials/_our-menu.scss */
    .menu-list li:last-child {
      margin-bottom: 0; }
    /* line 17, ../sass/partials/_our-menu.scss */
    .menu-list li .title {
      font-size: 18px;
      font-size: 1.125rem;
      line-height: 18px;
      font-weight: normal;
      letter-spacing: 3px; }
      @media only screen and (min-width: 769px) {
        /* line 17, ../sass/partials/_our-menu.scss */
        .menu-list li .title {
          font-size: 20px;
          font-size: 1.25rem;
          line-height: 20px; } }
    /* line 29, ../sass/partials/_our-menu.scss */
    .menu-list li .desc {
      font-size: 14px;
      font-size: 0.875rem;
      line-height: 14px; }
      @media only screen and (min-width: 769px) {
        /* line 29, ../sass/partials/_our-menu.scss */
        .menu-list li .desc {
          font-size: 16px;
          font-size: 1rem;
          line-height: 16px; } }

/* ======================================
   Contact Section
   ====================================== */
/* line 5, ../sass/partials/_contact.scss */
.info {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -moz-box-direction: normal;
  -moz-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media only screen and (min-width: 769px) {
    /* line 5, ../sass/partials/_contact.scss */
    .info {
      -webkit-box-direction: normal;
      -webkit-box-orient: horizontal;
      -moz-box-direction: normal;
      -moz-box-orient: horizontal;
      -webkit-flex-direction: row;
      -ms-flex-direction: row;
      flex-direction: row; } }

/* line 15, ../sass/partials/_contact.scss */
.contact-info {
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 1 0;
  -ms-flexbox: 1 1 0;
  flex: 1 1 0;
  padding: 1em 0; }
  @media only screen and (min-width: 769px) {
    /* line 15, ../sass/partials/_contact.scss */
    .contact-info {
      padding: 1em; } }
  @media only screen and (min-width: 1025px) {
    /* line 15, ../sass/partials/_contact.scss */
    .contact-info {
      padding: 1em 0; } }

/* line 29, ../sass/partials/_contact.scss */
.contact-form {
  -webkit-box: 1;
  -moz-box: 1;
  -webkit-flex: 1 1 0;
  -ms-flexbox: 1 1 0;
  flex: 1 1 0;
  padding: 1em 0; }
  @media only screen and (min-width: 1025px) {
    /* line 29, ../sass/partials/_contact.scss */
    .contact-form {
      padding: 1em; } }
  /* line 37, ../sass/partials/_contact.scss */
  .contact-form input,
  .contact-form textarea {
    display: block;
    width: 100%;
    margin: 1em 0;
    padding: 1em;
    color: #70A330;
    border-color: #70A330;
    border-style: solid;
    border-width: 1px;
    outline: none;
    -webkit-transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -ms-transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    -o-transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; }
    /* line 50, ../sass/partials/_contact.scss */
    .contact-form input:hover,
    .contact-form textarea:hover {
      border-color: #B6CF34; }
    /* line 54, ../sass/partials/_contact.scss */
    .contact-form input:focus,
    .contact-form textarea:focus {
      box-shadow: 0 0 8px rgba(182, 207, 52, 0.5);
      border-color: #B6CF34; }
  /* line 60, ../sass/partials/_contact.scss */
  .contact-form button {
    background: #70A330;
    border: none;
    padding: 1em;
    border-radius: 10px;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 14px;
    font-size: 0.875rem;
    line-height: 18px;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    -ms-transition: background 0.3s ease-in-out;
    -o-transition: background 0.3s ease-in-out;
    transition: background 0.3s ease-in-out; }
    /* line 71, ../sass/partials/_contact.scss */
    .contact-form button:hover, .contact-form button:focus {
      background: #B6CF34;
      cursor: pointer; }

/* ======================================
   Footer Section
   ====================================== */
/* line 5, ../sass/partials/_footer.scss */
footer {
  background-color: #e6e6e6;
  padding: 2em; }
  /* line 9, ../sass/partials/_footer.scss */
  footer p {
    text-align: center; }

/* ==========================================================================
   Import helper classes
   ========================================================================== */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers
 */
/* line 9, ../sass/_helper-classes.scss */
.hidden {
  display: none !important; }

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */
/* line 22, ../sass/_helper-classes.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */ }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
/* line 42, ../sass/_helper-classes.scss */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  -webkit-clip-path: none;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
/* line 59, ../sass/_helper-classes.scss */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
/* line 75, ../sass/_helper-classes.scss */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

/* line 81, ../sass/_helper-classes.scss */
.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 1.25dppx), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  /* line 109, ../sass/_helper-classes.scss */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  /* line 119, ../sass/_helper-classes.scss */
  a,
  a:visited {
    text-decoration: underline; }

  /* line 124, ../sass/_helper-classes.scss */
  a[href]:after {
    content: " (" attr(href) ")"; }

  /* line 128, ../sass/_helper-classes.scss */
  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  /* line 137, ../sass/_helper-classes.scss */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  /* line 142, ../sass/_helper-classes.scss */
  pre {
    white-space: pre-wrap !important; }

  /* line 145, ../sass/_helper-classes.scss */
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  /* line 156, ../sass/_helper-classes.scss */
  thead {
    display: table-header-group; }

  /* line 160, ../sass/_helper-classes.scss */
  tr,
  img {
    page-break-inside: avoid; }

  /* line 165, ../sass/_helper-classes.scss */
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  /* line 172, ../sass/_helper-classes.scss */
  h2,
  h3 {
    page-break-after: avoid; } }
