/* ==========================================================================
   About Section
   ========================================================================== */
.row {
    padding: 5em 0 3em;
    border-bottom: 1px solid gray;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    @media(min-width: 769px) {
        flex-direction: row;
    }

    .image-block {
        //background-color: lightskyblue;
        border-radius: 5px;
        overflow: hidden;
        //margin-right: auto;

        @media(min-width: 769px) {
            flex: 1;
        }

        img {
            width: 100%;
        }

        &.right {
            @media(min-width: 769px) {
                order: 1;
            }
        }

    }

    .content {
        //background-color: crimson;
        padding: 1em 3em;

        @media(min-width: 769px) {
            flex: 1;
        }

        .sec-title {
            font-size: 35px;
            line-height: 35px;
            text-transform: capitalize;
            font-weight: normal;
            letter-spacing: 5px;
            word-spacing: 2px;
            text-align: center;
            margin: 1em 0 2em;
        }

        .sec-subtitle {
            font-size: 18px;
            line-height: 18px;
            font-weight: normal;
            letter-spacing: 5px;
            word-spacing: 2px;
            text-align: center;
            margin: 1em 0 1.5em;
        }

        p  {
            font-size: 18px;
            line-height: 26px;
        }

    }

}

section {
    &:last-child{
        & > .row {
            border: none;
        }
    }
}