/* ==========================================================================
   About Section
   ========================================================================== */
.section {
    padding: 5em 0 3em;
    border-bottom: 1px solid gray;
    @include flexbox;
    @include flex-direction;
    @include flex-wrap(wrap);
    @include justify-content(space-between);
}

section {
    &:last-child{
        & > .section {
            border: none;
        }
    }
}