/* ==========================================================================
   Contact Section
   ========================================================================== */

   .info {
   		display: flex;
   		flex-direction: column;
   		flex-wrap: wrap;

   		@media(min-width: 769px) {
   			flex-direction: row;
   		}
   }

   .contact-info {
   		flex: 1;
   		padding: 1em;
   }

   .contact-form {
		flex: 1;
		padding: 1em;

   		input,
   		textarea {
   			display: block;
			width: 100%;
			margin: 1em 0;
			padding: 1em;
   		}

   		button {
			background: lightgreen;
			border: none;
			padding: 1em;
			border-radius: 10px;
			color: $white;
			text-transform: uppercase;
			font-size: 14px;
			line-height: 18px;
   		}

   }