/* ==========================================================================
   Main Navigation Section
   ========================================================================== */
.main-navigation {
	@include flexbox;
	@include flex-direction(column);
	background: $white;

    @media(min-width: 1025px) {
		@include flex-direction(row);
	}

	padding: 0 20px;
	a {
		font-size: 16px;
		line-height: 16px;
		color: $black;
		text-decoration: none;
		font-weight: normal;
		letter-spacing: 0.15em;
		padding: 0.8em 1em;
		display: block;
		@include transition(background-color 0.3s ease-in-out, color 0.3s ease-in-out);

		&:hover,
		&:focus {
			background-color: $atlantis;
			color: $white;
		}
	}
}

.logo {

	@media(min-width: 1025px) {
		margin-right: auto;
	}

	@include align-self(center);

	h1 {
		margin: 0;
		a {
			font-size: 18px;
			line-height: 18px;
			color: $black;

			&:hover,
			&:focus {
				background-color: transparent;
				color: $atlantis;
			}
		}
	}
}

.menu {
	
	@include align-self(center);
	nav {
		text-align: center;
		@include flexbox;
		@include flex-direction(column);
		margin-bottom: 0.3em;

		@media(min-width: 769px) {
			@include flex-direction(row);
			@include justify-content(space-between);
			margin-top: 0.1em;
		}

		@media(min-width: 1025px) {
			margin-top: 0;
			margin-bottom: 0;
		}

	}

	a {
		text-transform: capitalize;
		display: block;

		@media(min-width: 769px) {
			margin: 0 1em;
		}

		@media(min-width: 1025px) {
			margin: 0;
		}
	}
}