/* ==========================================================================
   Main Navigation Section
   ========================================================================== */
.main-navigation {
	@include flexbox;
	@include flex-direction(column);
	background: $white;

    @media(min-width: 1025px) {
		@include flex-direction(row);
	}

	padding: 0 20px;
	a {
		font-size: 16px;
		line-height: 16px;
		color: $black;
		text-decoration: none;
		font-weight: normal;
		letter-spacing: 0.15em;
		padding: 0.8em 1em;
		display: block;
		@include transition(background-color 0.3s ease-in-out, color 0.3s ease-in-out);

		&:hover,
		&:focus {
			background-color: $atlantis;
			color: $white;
		}
	}
}

.logo {
	@include flexbox;

	@media(min-width: 1025px) {
		margin-right: auto;
	}

	@include align-self(center);

	h1 {
		margin: 0;
		a {
			font-size: 18px;
			line-height: 18px;
			color: $black;

			&:hover,
			&:focus {
				background-color: transparent;
				color: $atlantis;
			}
		}
	}
}

.menu {
	
	@include align-self(center);
	visibility: hidden;
	opacity: 0;
	max-height: 0;
	@include transition(max-height 0.3s linear, opacity 0.3s ease-in-out);

	&.open {
		visibility: visible;
		opacity: 1;
		max-height: 100%;
	}

	@media(min-width: 769px) {
		visibility: visible;
		opacity: 1;
		max-height: 100%;
	}

	nav {
		text-align: center;
		@include flexbox;
		@include flex-direction(column);
		margin-bottom: 0.3em;

		@media(min-width: 769px) {
			@include flex-direction(row);
			@include justify-content(space-between);
			margin-top: 0.1em;
		}

		@media(min-width: 1025px) {
			margin-top: 0;
			margin-bottom: 0;
		}

	}

	a {
		text-transform: capitalize;
		display: block;

		@media(min-width: 769px) {
			margin: 0 1em;
		}

		@media(min-width: 1025px) {
			margin: 0;
		}
	}


}

.sticky {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	box-shadow: 0 0 8px rgba($gray, 0.5);
}

#burger-menu {
	@include align-self(center);
	cursor: pointer;
	display: block;
	margin-left: 3em;

	@media(min-width: 769px) {
		display: none;
	}

	span.bar {
	    display: block;
	    width: 1.6em;
	    height: 2px;
	    background: $gray;
	    margin: 0.4em 1em;
	    @include transition(transform 0.3s ease-in-out, opacity 0.3s ease-in-out);
	}

	&.open {
		span.bar {
			background: $monza;
			&:nth-child(1) {
				transform: rotate(-45deg) translate(-12px, 0px);
			}
			&:nth-child(2) {
				opacity: 0;
			}
			&:nth-child(3) {
				transform: rotate(45deg) translate(-12px, 0px);
			}
		}
	}

}