/* ==========================================================================
   Main Navigation Section
   ========================================================================== */
.main-navigation {
	//@include flexbox;
	//@include flex-direction;
	//@include flex-wrap(wrap);
	//@include justify-content(space-between);
	display: flex;
    flex-direction: column;

    @media(min-width: 1025px) {
		flex-direction: row;
	}

	padding: 0.5em 20px;
	a {
		font-size: 16px;
		line-height: 16px;
		color: $black;
		text-decoration: none;
		font-weight: normal;
		letter-spacing: 0.15em;
		padding: 0.8em 1em;
		border-bottom: 2px solid transparent;
		display: block;

		&:hover {
			//background-color: crimson;
			border-bottom: 2px solid lightskyblue;
		}
	}
}

.logo {
	//margin-right: auto;
	@media(min-width: 1025px) {
		margin-right: auto;
	}
	align-self: center;
	h1 {
		margin: 0;
	}
}

.menu {
	//@include flex-grow;
	align-self: center;
	nav {
		text-align: center;
		display: flex;
		flex-direction: column;

		@media(min-width: 769px) {
			flex-direction: row;
			justify-content: space-between;
			margin-top: 1em;
		}

		@media(min-width: 1025px) {
			margin-top: 0;
		}
		//@include flexbox;
		//@include justify-content(flex-end);
	}

	a {
		text-transform: capitalize;
		display: block;

		@media(min-width: 769px) {
			margin: 0 1em;
		}

		@media(min-width: 1025px) {
			margin: 0;
		}
	}
}