/* ==========================================================================
   Our Menu Section
   ========================================================================== */

.menu-list {

   padding: 0;

	li {
      list-style: none;
      margin-bottom: 3em;

      &:last-child {
          margin-bottom: 0;
      }

		.title {
			font-size: 18px;
			line-height: 18px;
			font-weight: normal;
			letter-spacing: 5px;

         @media(min-width: 769px) {
            font-size: 20px;
            line-height: 20px;
        }
		}

      .desc {
         font-size: 14px;
         line-height: 14px;

         @media(min-width: 769px) {
            font-size: 16px;
            line-height: 16px;
        }

      }

	}

}