/* ==========================================================================
   Mixins
   ========================================================================== */

/* ===========================
   Flexbox mixins
   =========================== */
@import 'helpers/flexbox-mixins';


/* ===========================
   Transition mixins
   =========================== */
@mixin transition($args...) {
  -webkit-transition: $args;
  -moz-transition: $args;
  -ms-transition: $args;
  -o-transition: $args;
  transition: $args;
}


