// Fonts
$times-roman: "Times New Roman", Georgia, serif;


// Colors
$black: #000000;
$white: #ffffff;
$gray: #6d6d6d;

// Theme colors
$tusk: #E4F7CC;
$atlantis: #B6CF34;
$sushi: #70A330;
$claret: #781125;
$monza: #C70038;